{% extends 'gallery/base.html' %}
<!--this is tailwind_filters -->
{% load tailwind_filters %}
<!-- this is block content -->
{% block content %}
<body class="">
  <div
    class="w-screen h-screen bg-[rgba(0,0,0,.91)] relative overflow-x-hidden"
  >
    <div
      id="pinkbubble"
      class="fixed h-[30rem] w-[30rem] bg-pink-500 rounded-full left-2/4 top-2/4 translate-x-[-20%] translate-y-[-70%] z-2 filtler blur-3xl opacity-50"
    ></div>
    <div
      id="bluebubble"
      class="fixed h-[40rem] w-[40rem] bg-blue-500 rounded-full left-[30rem] top-2/4 translate-x-[-10%] translate-y-[-50%] z-2 filter blur-2xl opacity-30"
    ></div>
    {% if request.user.is_authenticated %}
    <div class="w-full h-2/6 flex flex-col justify-center items-center">
      <p href="" class="text-white px-3 font-mono text-xs mb-8">
        Hi {{ request.user.username }}!
      </p>
      <p
        class="font-thin text-4xl font-mono text-[rgba(255,255,255,0.7)] relative"
      >
        Image Gallery
      </p>
    </div>
    {% else %}
    <!-- if user is not authenticated -->
    <div
      class="w-full h-screen flex justify-center items-center relative flex-col overflow-hidden"
    >
      <p class="font-thin text-6xl font-mono text-[rgba(255,255,255,0.7)]">
        Image Gallery
      </p>
      <div class="flex justify-between items-center mt-12">
        <div
          class="border mx-6 border-[rgba(255,255,255,0.3)] bg-[rgba(255,255,255,0.1)] hover:bg-[rgba(255,255,255,0.4)] transition-all duration-300 ease-in-out px-3 py-2"
        >
          <a href="signup" class="uppercase text-white">signup</a>
        </div>
        <div
          class="border mx-6 border-[rgba(255,255,255,0.3)] bg-[rgba(255,255,255,0.1)] hover:bg-[rgba(255,255,255,0.4)] transition-all duration-300 ease-in-out px-3 py-2"
        >
          <a href="login" class="uppercase text-white">Login</a>
        </div>
      </div>
    </div>
    {% endif %}
    <!--show images only if user is authenticated-->
    {% if request.user.is_authenticated %}
    <div
      class="h-fit w-3/4 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 relative pb-28"
    >
      <!--image list starts here -->
      {% for imgobj in imageobj %}
      <div
        class="w-full h-68 bg-gray-50 rounded overflow-hidden transition-all duration-500"
      >
        <div
          class="h-48 bg-transparent overflow-hidden object-cover object-center relative group"
        >
          <img
            src="{{ imgobj.image.url }} "
            alt=""
            class="object-center bg-cover object-cover w-full h-full peer scale-1 group-hover:scale-[1.2] transition-all duration-500 ease-out"
          />
          <div
            class="absolute bottom-0 right-0 h-28 transition-all duration-500 ease-in-out bg-gradient-to-t from-[rgba(0,0,0,0.8)] to-[rgba(0,0,0,0)] opacity-0 group-hover:opacity-100 w-full"
          ></div>
          <div
            class="absolute right-2 bottom-2 opacity-0 group-hover:opacity-100 transition-all duration-200 ease-in-out"
          >
            <span
              class="material-symbols-outlined text-white cursor-pointer opacity-70 hover:opacity-100"
              onclick="largeshow('{{ imgobj.image.url }}')"
            >
              open_in_new
            </span>
            <span>
              <a href="deleteobj/{{ imgobj.id }}">
                <span
                  class="material-symbols-outlined text-white opacity-70 hover:opacity-100"
                >
                  delete
                </span>
              </a>
            </span>
          </div>
        </div>
        <!-- for title and description and time -->
        <div class="py-2 px-3 flex justify-around flex-col">
          <p class="text-gray-700 text-md mb-4">{{ imgobj.caption }}</p>
          <p class="text-gray-500 text-xs">{{ imgobj.date }}</p>
        </div>
      </div>

      {% endfor %}
    </div>
    {% endif %}
  </div>

  <!-- icon for adding images -->
  {% if request.user.is_authenticated %}
  <div
    class="rounded-full p-3 fixed right-10 bottom-10 cursor-pointer  z-10 flex flex-col"
  >
    <a href="logout" title="logout" class="relative group">
      <div class="opacity-0 absolute mr-8 left-0 px-2 py-0 bg-[rgba(255,255,255,0.6)] group-hover:-left-[130%] transition-all duration-500 ease-in-out  -translate-y-2/4 top-2/4 group-hover:opacity-80 text-white">logout</div>
      <span
        class="my-5 material-symbols-outlined bg-red-400 p-4 rounded-full text-white transition-all duration-300 ease-in-out scale-1 hover:scale-110 hover:bg-red-600 select-none"
      >
        logout
      </span>
    </a>
    <span
      title="add"
      onclick="imageform()"
      class="material-symbols-outlined bg-blue-400 p-4 rounded-full text-white transition-all duration-300 ease-in-out scale-1 hover:scale-110 hover:bg-blue-600 select-none"
    >
      add
    </span>
  </div>
  <!-- end of button -->
  <!--this is form-->

  <div
    class="w-screen h-screen fixed top-0 left-0 backdrop-blur-sm flex justify-center items-center"
    id="uploadform"
  >
    <div
      class="w-full h-full absolute z-10 bg-[rgba(0,0,0,0.7)]"
      id="cancelform"
      onclick="cancelform()"
    ></div>
    <form
      action=""
      method="post"
      enctype="multipart/form-data"
      class="z-20 bg-[rgba(255,255,255,0.6)] rounded w-3/4 md:w-1/4 px-10 py-7 mx-auto backdrop-blur-lg"
    >
      {% csrf_token %}
      <h2 class="text-center font-bold text-2xl my-4">UPLOAD IMAGE</h2>
      {{ form|crispy }}
      <button
        class="px-3 py-2 border border-gray-600 hover:border-transparent hover:bg-gray-200 transition-all duration-200 text-xs rounded mt-4"
        type="submit"
      >
        ADD
      </button>
    </form>
  </div>
  {% endif %}

  <!-- large image display -->
  <div
    class="w-screen h-screen bg-transparent rounded fixed left-0 top-0 hidden z-30"
    id="largeimage"
  >
    <div
      class="w-full h-full absolute left-0 top-0 bg-[rgba(0,0,0,0.7)] transition-all duration-500 -z-30"
      onclick="cancellargeimage();"
    ></div>
    <div
      class="h-full w-fit mx-auto overflow-hidden object-contain flex justify-center items-center group z-10"
    >
      <img
        alt=""
        class="mx-auto h-[90%] relative select-none imageop"
        id="imageop"
      />
      <div
        class="absolute right-10 top-5 cursor-default"
        onclick="cancellargeimage()"
      >
        <span
          class="animate-pulse select-none material-symbols-outlined text-gray-400 hover:text-white transition-all duration-150"
        >
          close
        </span>
      </div>
    </div>
    <!-- for title and description and time -->
    <!--<div class="py-2 px-3">
                    <h3 class=" font-bold  ">Title</h3>
                    <p class=" text-gray-500 text-sm ">Description</p>
                    <p class=" text-gray-500 text-xs ">time</p>
                </div> -->
  </div>

  <div
    class="absolute bottom-0 left-0 flex justify-content items-center w-full h-fit -z-1"
  >
    <p
      class="text-gray-700 hover:text-gray-500 transition-all duration-300 cursor-default mx-auto mt-12 mb-8 text-xs"
    >
      Designed and Developed by Manoj Gaonkar
    </p>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>
  function imageform() {
    console.log("okk");
  }

  function largeshow(imgurl) {
    console.log("cool");
    $("#largeimage").addClass("backdrop-blur-sm");
    $("#imageop").attr("src", `${imgurl}`);
    $("#largeimage").fadeIn(300);
  }

  function cancellargeimage() {
    console.log("cancelimg");
    $("#largeimage").fadeOut(100);
  }

  $("#uploadform").hide();

  function imageform() {
    $("#uploadform").fadeIn(200);
  }

  function cancelform() {
    $("#uploadform").fadeOut(150);
  }
</script>

{% endblock content %}
